@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.footer-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* max-width: 1024px;
  margin: auto; */

  text-transform: uppercase;
  font-family: "Bree Serif", serif;
  text-align: center;
  font-size: 15px;

  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgb(224, 217, 217);
}

.footer-container a {
  text-decoration: none;
  color: inherit;
}
.footer-container a:hover {
  color: red;
}

.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.social-icon {
  width: 30px;
  height: 30px;
  padding: 0px 10px;
}

.social-icon:hover {
  transform: scale(1.25);
}

.footer-links {
  display: flex;
  justify-content: center;
  list-style-type: none;

  padding: 0;
}

.footer-item {
  padding: 0px 10px;
}

.footer-links2 {
  display: flex;
  justify-content: center;
}
